################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SOLID Principles
/bin/Debug
/obj/Debug
/.vs/SOLID Principles.csproj.dtbcache.json
